AspNetDemoProject/.vs/
AspNetDemoProject/AspNetDemoProject/bin/
AspNetDemoProject/AspNetDemoProject/obj/
AspNetDemoProject/packages/
AspNetDemoProject/MvcDemoApp/bin/
AspNetDemoProject/GenericConsoleTestApp/bin/
AspNetDemoProject/GenericConsoleTestApp/obj/
AspNetDemoProject/MvcDemoApp/obj/
